@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.customers-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 100px 0 50px 0;
    position: relative;
}

.customers-title::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    bottom: 0;
    left: 43%;
    background-color: #EC7979;
}

.customers-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.customers-content {
    display: flex;
    justify-content: space-between;
    padding-top: 83px;
}

.customers-content-item-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    width: 370px;
    padding: 38px 24px 37px;
    background: #E2E2E2;
    border-radius: 10px;
    position: relative;
}

.customers-content-item-text::before {
    content: '';
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    bottom: -20px;
}

.customers-content-item-user {
    margin-top: 66px;
    display: flex;
}

.customers-content-item-user__person {
    padding-left: 30px;
}

.customers-content-item-user__person_name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    padding: 10px 0 30px;
}

.customers-content-item-user__person_position {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}